.conversation_list {
  max-height: 80svh;
  overflow: auto;
}

.conversation_detail_header {
  position: static !important;
  left: 0;
  right: 0;
  background-color: #5fa2c8;
  top: 20px !important;
  z-index: 9999 !important;
}

.conversation_footer_input {
  /* display: flex; */
  position: absolute !important;
  bottom: 0;
  left: 0;
  right: 0;
}

.conversation_detail_div {
  position: relative;
}

.msg_container {
  /* height: 370px; */
  height: calc(100svh - 230px) !important;
  overflow: auto;
}

.justify_flex_start {
  justify-content: flex-start;
}
.justify_flex_end {
  justify-content: flex-end;
}
/* .left_msg_ext::before {
  content: "";
  height: 7px;
  background-color: black;
  display: block;
  width: 5px;
} */
.msg_time {
  font-size: 10px;
}
.active_chat {
  background-color: rgb(0, 0, 0, 0.15) !important;
  color: black !important;
}
.back-arrow:hover {
  background-color: rgb(0, 0, 0, 0.15);
  border-radius: 50%;
}
.conversation_list .badge {
  border-radius: 50% !important;
}
.send-btn {
  max-width: 50px;
}

.msg_input {
  max-width: 80vw;
}
.user_search_box {
  position: sticky;
  top: 0;
  background-color: #5fa2c8;
}

.search_clear_btn {
  top: 5px;
  right: 2px;
  cursor: pointer;
}

.active_chat * {
  /* background-color: inherit; */
  /* background-color: rgb(0, 0, 255, 0.25); */
  /* background-color: #110a0a; Change this to your desired background color */
  color: black;
}

/* .voice_type_msg_input * {
  position: relative !important;
  right: -9px !important;
  top: -12px !important;
} */

.msg_container_height {
  height: calc(100svh - 105px) !important;
}

/* @media screen and (max-width: 399px) {
  .form-control.msg_input {
    max-width: 160px !important;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .form-control.msg_input {
    max-width: 200px !important;
  }
}
@media screen and (min-width: 601px) {
  .form-control.msg_input {
    max-width: 100% !important;
  }
} */
.msg_input {
  border-radius: 20px !important;
}
/* .msg_input_emoji_btn {
  left: 0;
}

.msg_input_attachment_btn {
  right: 0;
} */

.conversation_detail_header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.conversation_footer_input {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.single_msg_body {
  max-width: 78% !important;
  min-width: 105px !important;
}
/* 
.triangle-right {
  position: absolute;
  width: 0;
  height: 0;
  right: 14px;
  border-right: 10px solid transparent;
  border-top: 10px solid blue;
  top: 8px;
} */

.msg_box_right {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.msg_box_left {
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.conversation_box {
  /* border-bottom: 1px solid rgb(184, 116, 116) !important; */
}
.conversation_box:hover {
  background-color: rgba(58, 242, 242, 0.3);
  border-radius: 5px;
}
