.side_navbar_wrapper.d-flex.px-4.py-2.justify-content-between.side_navbar_wrapper {
  background-color: #4544df;
}

.cursor_pointer {
  cursor: pointer;
}
.btn_secondary {
  background-color: #fff !important;
  color: var(--cs-primary_bg_color) !important;
  border: none !important;
}
.btn_secondary:hover {
  color: black !important;
}

.btn_primary {
  /* background-image: linear-gradient(
    to right,
    var(--gard_color1),
    var(--gard_color2)
  ); */
  background-image: linear-gradient(
    to right,
    #f05a76,
    #f6a63d
  ); /* Example gradient */
  color: white; /* Text color to ensure readability */
  padding: 8px 15px; /* Adjust padding as needed */
  border: none; /* Remove default border */
  border-radius: 8px; /* Add rounded corners */
}
.btn_primary:hover {
  background-image: linear-gradient(
    to right,
    black,
    black
  ); /* Example with slightly darker colors */
  /* color: black; */
}
.bg_gradient {
  background-image: linear-gradient(to right, #f05a76, #f6a63d);
}

.gradient-text {
  background-image: linear-gradient(
    to right,
    #8decb4,
    #141e46 /* #f05a76,
    #f6a63d */
  ); /* Example gradient */
  color: transparent; /* Make text invisible initially */
  -webkit-background-clip: text; /* Clip background to the text shape (WebKit browsers) */
  background-clip: text; /* Clip background to the text shape (modern browsers) */
  /* text-fill-color: transparent; /* Fill text with the gradient (WebKit browsers) */
}

.gradient-text:hover {
  color: black;
}
input.form-control {
  border: none;
  background-color: aliceblue;
}
input.form-control:focus {
  border: none !important;
  outline: none !important;
}

.color_blue_hover:hover {
  color: #5755fe;
}
.font_size_12px {
  font-size: 12px;
}
.py-14px {
  padding-top: 14px;
  padding-bottom: 14px;
}
.py-6px {
  padding-top: 6px;
  padding-bottom: 6px;
}

/* .row.main_container > * {
  padding: 0 !important;
} */
/* .sidebar.bg_gradient.sidenav_animation.col-3.px-3.pb-5 {
  padding: 0 !important;
} */
/*.main_container {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
/* gap: 5px;
}
.sidebar {
  /* grid-column: 1;
  grid-row: 1/3; 
}
.main_section {
   grid-column: 2/5;
  grid-row: 1 / 3; */
/* background-color: #4544df; 
}*/
.sidebar {
  /* height: 100vh; */
}

.role_badge {
  height: 21px;
  border-radius: 12px !important;
  margin: 7px 0 0 7px;
}
.font_size_sm {
  font-size: xx-small !important;
}
.sidenav_animation {
  transition: 0.5s ease-in-out;
}
/*  */
/* html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

tfoot {
  color: gray;
} */

tfoot th {
  font-weight: normal;
}

.account_initials {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #f05a76;
  color: #fff;
  font-family: sans-serif;
}

.name_initial_wrapper {
  padding: 10px;
  font-weight: 500;
  font-size: 23px;
}
.fs-16 {
  font-size: 16px;
}
.fs-13 {
  font-size: 13px;
}
.fs_15 {
  font-size: 15px;
}
.fs_10 {
  font-size: 10px;
}
.fs-14 {
  font-size: 14px;
}
.fs-20 {
  font-size: 20px;
}
.fs-18 {
  font-size: 18px;
}

.line_height_18 {
  line-height: 18px;
}
/* .user_name_nav_wrapper {
  border-left: 1px solid grey;
} */

.custom_input {
  background-color: aliceblue;
}
.lf-player-container {
  position: relative;
}
div#lottie {
  position: absolute;
  right: 0;
  top: -2px;
}

body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(210, 209, 206); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(104, 104, 129); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* border: 3px solid rgb(150, 144, 132); creates padding around scroll thumb */
}

#reg_req_btn > .grad_menu {
  width: 100% !important;
}

.form-check-input:disabled ~ .form-check-label,
.form-check-input[disabled] ~ .form-check-label,
.form-check-input:disabled {
  opacity: 1 !important;
}

.permission_checkbox > .form-check-input:checked {
  background-color: green;
  border-color: green;
}

.fade.shadow-lg.rounded-lg.border-light.text-center.alert.alert-warning.show {
  background-color: aliceblue;
}

.sc-beySPh.iDskdp {
  padding: 8px !important;
}

.topnav_options .dropdown > .btn {
  background-color: transparent;
  border: none;
  padding: 0;
  max-height: 40px;
}
.topnav_options .dropdown > .btn:active {
  background-color: transparent;
}

.topnav_options .dropdown > .dropdown-menu.show {
  /* transform: translate3d(-115.3333px, 55px, 0px) !important; */
  /* inset: 6px auto auto -25px !important; */
  min-width: 220px !important;
  border-radius: 14px !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  z-index: 1;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ee9191;
}

.hover_menu_item:hover {
  background-color: black;
  color: white;
}
.border_radious_10px {
  border-radius: 10px;
}
