.side_navbar_wrapper.d-flex.px-4.py-2.justify-content-between.side_navbar_wrapper {
  background-color: #4544df;
}

.cursor_pointer {
  cursor: pointer;
}
.btn_secondary {
  background-color: #fff !important;
  color: var(--cs-primary_bg_color) !important;
  border: none !important;
}
.btn_secondary:hover {
  color: black !important;
}

.btn_primary {
  /* background-image: linear-gradient(
    to right,
    var(--gard_color1),
    var(--gard_color2)
  ); */
  background-image: linear-gradient(
    to right,
    #f05a76,
    #f6a63d
  ); /* Example gradient */
  color: white; /* Text color to ensure readability */
  padding: 8px 15px; /* Adjust padding as needed */
  border: none; /* Remove default border */
  border-radius: 8px; /* Add rounded corners */
}
.btn_primary:hover {
  background-image: linear-gradient(
    to right,
    black,
    black
  ); /* Example with slightly darker colors */
  /* color: black; */
}
.bg_gradient {
  background-image: linear-gradient(to right, #f05a76, #f6a63d);
}

.gradient-text {
  background-image: linear-gradient(
    to right,
    #8decb4,
    #141e46 /* #f05a76,
    #f6a63d */
  ); /* Example gradient */
  color: transparent; /* Make text invisible initially */
  -webkit-background-clip: text; /* Clip background to the text shape (WebKit browsers) */
  background-clip: text; /* Clip background to the text shape (modern browsers) */
  /* text-fill-color: transparent; /* Fill text with the gradient (WebKit browsers) */
}

.gradient-text:hover {
  color: black;
}
input.form-control {
  border: none;
  background-color: aliceblue;
}
input.form-control:focus {
  border: none !important;
  outline: none !important;
}

.color_blue_hover:hover {
  color: #5755fe;
}
.font_size_12px {
  font-size: 12px;
}
.py-14px {
  padding-top: 14px;
  padding-bottom: 14px;
}
.py-6px {
  padding-top: 6px;
  padding-bottom: 6px;
}

/* .row.main_container > * {
  padding: 0 !important;
} */
/* .sidebar.bg_gradient.sidenav_animation.col-3.px-3.pb-5 {
  padding: 0 !important;
} */
.main_container {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  /* gap: 5px; */
}
.sidebar {
  /* grid-column: 1;
  grid-row: 1/3; */
}
.main_section {
  /* grid-column: 2/5;
  grid-row: 1 / 3; */
  /* background-color: #4544df; */
}
.role_badge {
  height: 21px;
  border-radius: 12px !important;
  margin: 7px 0 0 7px;
}
.font_size_sm {
  font-size: xx-small !important;
}
.sidenav_animation {
  transition: 0.5s ease-in-out;
}
/*  */
/* html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

tfoot {
  color: gray;
} */

tfoot th {
  font-weight: normal;
}

.account_initials {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #f05a76;
  color: #fff;
  font-family: sans-serif;
}

.name_initial_wrapper {
  padding: 11px;
  font-weight: 500;
  font-size: 24px;
}
.fs-16 {
  font-size: 16px;
}
.fs-13 {
  font-size: 13px;
}

.line_height_18 {
  line-height: 18px;
}
.user_name_nav_wrapper {
  border-left: 1px solid grey;
}
